{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 58
        }
      }
    ],
    "react"
  ] ,
  "plugins": [
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}